@import "./variables.scss";

body,html{
    margin: 0;
    padding: 0;
    font-family: $font-family;
}

nav{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-around;
    z-index: 100;

    @media(max-width:640px){
        display: none;
    }

    .nav_container{
        width: 460px;
        background-color: $white;
        border-radius: 50px;
        padding: 20px 0;
        filter: drop-shadow(0px 0px 13px #0000001f);
        margin: 8px 0 0 0;

        ul{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin: 0;
            padding: 0;
            a{
                text-decoration: none;
                color: $dark;
                transition: all .3s ease-in-out;

                &:hover{
                    color: black;
                }
            }

            li{
                list-style: none;
            }
        }
    }
}